* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.searchEntry {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.search-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form input[type="text"] {
	border: none;
	padding: 0.75rem;
	width: 70vw;
	max-width: 600px;
	font-size: 20px;
	background-color: transparent;
}

form input[type="text"]:focus {
	outline: none;
}

.logo {
	font-size: 70px;
	margin-bottom: 0.5rem;
	animation: jiggle 5s infinite;
}

.blue {
	color: blue;
}

.red {
	color: red;
}

.yellow {
	color: #ffc107;
}

.green {
	color: green;
}

.exclaim {
	display: inline-block;
	font-size: 70px;
	transform: rotate(12deg);
}

.buttonContainer {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;

	margin: 1rem 0;
}

.buttonContainer button {
	background-color: rgb(245, 245, 245);
	border: none;
	border-radius: 4px;
	padding: 0.25rem 0;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	padding: 0.5rem 2.5rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
}

.buttonContainer button:hover {
	background-color: rgb(190, 190, 190);
}

#searchResultsSection {
	display: none;
	width: 90%;
	margin: 2rem auto;
	max-width: 1400px;
}

#searchResultsSection div {
	margin: 1.5rem 0;
}

#searchResultsSection a {
	color: #2a63d4;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

#searchResultsSection a:hover {
	text-decoration: underline;
}

#searchResultsSection p {
	font-size: 14px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
	text-decoration: none;
}

@media screen and (max-width: 800px) {
	.logo,
	.exclaim {
		font-size: 30px;
	}
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 10px;
}
.space {
	margin-right: 20px;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 5vh;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Search bar */

.searchArea {
	border-radius: 20px;
	border: 1px solid rgb(218, 215, 215);
	padding: 0 1rem;
}

.closeBtn {
	cursor: pointer;
	color: rgb(211, 211, 211);
	transition: 0.3s ease-in-out;
}

.closeBtn:hover {
	color: #000000;
}

/* Header */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: 5vh;
	width: 100%;
	padding: 0 1rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Dark mode */

#darkMode {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 50px;
	height: 20px;
	border: 1px solid grey;
	border-radius: 30px;
	transition: 0.3s ease-in-out;
	cursor: pointer;
	background-color: white;
}

#darkMode i {
	position: absolute;
	font-size: 16px;
	right: 1px;
	color: #202124;
	cursor: pointer;
}

#darkMode:hover {
	background-color: rgb(207, 207, 207);
}

@keyframes jiggle {
	0% {
		transform: skewX(0deg);
	}
	35% {
		transform: skewX(7deg);
		transform: skewX(0deg);
	}
	70% {
		transform: skewX(-7deg);
	}
	100% {
		transform: skewX(0deg);
	}
}

header .fa-circle-info {
	font-size: 20px;
	transition: 0.3s ease-in-out;
}

header .fa-circle-info:hover {
	color: rgb(112, 112, 112);
	cursor: pointer;
	font-size: 25px;
}

.hidden-info {
	display: none;
	position: absolute;
	right: 1rem;
	top: 40px;
	background-color: grey;
	padding: 0.5rem 1rem;
	border-radius: 12px;
}
